@model IEnumerable<Top_Records.Models.Record>
@{
    ViewBag.Title = "UnapprovedRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Popis novih vremena</h2>
    <div>&nbsp;<hr />&nbsp;</div>

    @if (Model == null || Model.Count() == 0)
    {<i style="display: block;text-align: center;">Nema rezultata</i> }

    else
    {
        <table class="table table-light table-striped text-center">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Vrijeme</th>
                    <th>Opcije</th>
                </tr>
            </thead>

            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.Surname</td>
                    <td>@record.Time</td>
                    <td>
                        <a asp-action="UpdateRecord" asp-controller="Home" asp-route-Id="@record.ID" asp-route-isApproved="true" asp-route-viewName="@ViewBag.Title">Prihvati</a>                       
                        @{WriteLiteral(" | ");}
                        <a asp-action="UpdateRecord" asp-controller="Home" asp-route-Id="@record.ID" asp-route-isApproved="false" asp-route-viewName="@ViewBag.Title">Odbij</a>
                        
                    </td>
                </tr>
            }
        </table>
    }
</div>